#general{
    color:brown;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 70px;
}

#latest{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;;
}
#toggle{
    font-family: 'Trade Winds', cursive;
}

#sourcename{
    color:brown;
    font-size: 25px;
}
#home{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;

}
#sourcedesc{
    font-family: 'Vidaloka', serif;
    font-size: 20px;
}
#sourcebtn{
    font-size:20px;

}
#cardcontent{
    background: transparent;
}
body{
    background: transparent;
}