body{
    background-color: chartreuse;
}
#general{
    color:brown;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 70px;
}

#latest{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;;
}

#sourcename{
    color:brown;
    font-size: 25px;
}
#home{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;

}
#sourcedesc{
    font-family: 'Vidaloka', serif;
    font-size: 20px;
}
#cardcontent{
    background: transparent;
}
body{

    background-color: cadetblue;
}
#wholecard{
    text-align: left;
}
.top{
    font-family: 'Kaushan Script', cursive;
    font-size:50px;
}
#sourcebtn{
    font-size: 20px;
}
#articlebtn{
    font-size: 20px;
}


